# Team FirstTake Local Docker Settings
# Copy this file and rename it to .env
MYSQL_HOST=db
MYSQL_USER=root
MYSQL_PASS=root
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=firsttake
MYSQL_ROOT_USER=root
DB_CONTAINER=db
DB_PORT=3306