doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/css/style.css")
    title FirstTake
  body
    header.glass-card
      h2 FirstTake Dashboard
      nav
        a(href="/projects" style="margin-right:15px; color:#38BDF8;") Feed
        a(href="/talents" style="margin-right:15px; color:#38BDF8;") Users
        a(href="/profile" style="color:#38BDF8;") My Profile
    
    main
      block content